.git
.gitignore
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
*.ipynb
*.csv
README.md
ER_diagram/
.pytest_cache/
.coverage
test_db.py
make_mock_data.ipynb
preparing_csvs.ipynb
scrape_multi.ipynb